# DAY 2 ASSIGNMENT

LETSUPGRADE PYTHON BATCH 6

# BACKSLASH

In [1]:
print("Hello\
      python")

Hello      python

In [2]:
print('Let\'s come to python\'s world')

Let's come to python's world

# f string

In [3]:
name="Vijay"
mark=90.2345
age=18
print(f"The name of person is{name}the mark is {mark} age is{age}")

The name of person isVijaythe mark is 90.2345 age is18

# Triple,Double,Single quotes

In [52]:
print("""Hello User!!!!""")

Hello User!!!!

In [53]:
"""HIIII"""

'HIIII'

In [54]:
print("HELLo Every one ")
print('Hope all are fine',"Doing Good Right")

HELLo Every one
Hope all are fine Doing Good Right

# Escape sequence

In [4]:
print("Hello!!!!\t User,How are you????")

Hello!!!!	 User,How are you????

# Formatting output

In [6]:
name="Vijay"
mark=90.2345
age=18
print("The name person is %2s mark is %2.2f age is %2d"%(name,mark,age))

The name person is Vijay mark is 90.23 age is 18

# Variables

Variables links the data to a name.
Variables can start with letters,underscores except numbers.
It can be uppercase or lowercase.
keywords cannot be used as a variable.

In [9]:
num_1=19
num_2=19.8
name="Vj"
print("Types of variables")
print(type(num_1),type(num_2),type(name))

Types of variables
<class 'int'> <class 'float'> <class 'str'>

# Operators

Arithmetic Operators

In [10]:
print("Exponent")
a=5
b=3
print(a**b)

Exponent
125

In [11]:
print("Multiplication")
a=5
b=3
print(a*b)

Multiplication
15

In [12]:
print("Division")
a=5
b=3
print(a/b)

Division
1.6666666666666667

In [13]:
print("Modulus")
a=5
b=3
print(a%b)

Modulus
2

In [14]:
print("Addition")
a=5
b=3
print(a+b)

Addition
8

In [15]:
print("Subtraction")
a=5
b=3
print(a-b)

Subtraction
2

In [16]:
print("Floor Division")
a=5
b=3
print(a//b)

Floor Division
1

Comparison operators

In [17]:
print("Double equal to")
a=5
b=3
a==b

Double equal to

False

In [23]:
print("Less than")
a=5
b=3
a<=b & a<b

Less than

False

In [29]:
print("Greater than")
a=5
b=3
a>b | a>=b

Greater than

False

In [30]:
print("Not equal to")
a=5
b=3
a!=b

Not equal to

True

Bitwise operators

In [36]:
print("Bitwise OR operator")
a=8
b=4
a|b

Bitwise OR operator

12

In [37]:
print("Bitwise AND operator")
a=8
b=4
a&b

Bitwise AND operator

0

In [40]:
print("Bitwise one'scomplement operator")
a=10
~a

Bitwise one'scomplement operator

-11

Membership Operators

In [41]:
Name="India"
"a" in Name

True

In [42]:
Name="India"
"b" not in Name

True

Identity Operators

In [43]:
a=10
b= 10
a is b

True

In [44]:
a=13
b=12
a is not b

True

In [45]:
a=1.4
b=1.4
a is b

False

Operators precedence

In [47]:
20+20/4*2

30.0

In [55]:
10<9 &  20>m

False

In [56]:
10>9 & 20>m

NameError: name 'm' is not defined

In [57]:
print("Not operator")
a=True
not a

Not operator

False